In [1]:
import pandas as pd
import numpy as np
import uuid

In [2]:

df = pd.read_parquet("../data/nyc_yellow_taxi_dataset/yellow_tripdata_2024-01.parquet")
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     str
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), str(1)
memory usage: 398.6 MB

In [3]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
count,2.964624e+06,2964624,2964624,2.824462e+06,2.964624e+06,2.824462e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.824462e+06,2.824462e+06
mean,1.754204e+00,2024-01-17 00:46:36.431092,2024-01-17 01:02:13.208130,1.339281e+00,3.652169e+00,2.069359e+00,1.660179e+02,1.651167e+02,1.161271e+00,1.817506e+01,1.451598e+00,4.833823e-01,3.335870e+00,5.270212e-01,9.756319e-01,2.680150e+01,2.256122e+00,1.411611e-01
min,1.000000e+00,2002-12-31 22:59:39,2002-12-31 23:05:41,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-8.990000e+02,-7.500000e+00,-5.000000e-01,-8.000000e+01,-8.000000e+01,-1.000000e+00,-9.000000e+02,-2.500000e+00,-1.750000e+00
25%,2.000000e+00,2024-01-09 15:59:19.750000,2024-01-09 16:16:23,1.000000e+00,1.000000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.538000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2024-01-17 10:45:37.500000,2024-01-17 11:03:51.500000,1.000000e+00,1.680000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.700000e+00,0.000000e+00,1.000000e+00,2.010000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2024-01-24 18:23:52.250000,2024-01-24 18:40:29,1.000000e+00,3.110000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.120000e+00,0.000000e+00,1.000000e+00,2.856000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2024-02-01 00:01:15,2024-02-02 13:56:52,9.000000e+00,3.127223e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,5.000000e+03,1.425000e+01,4.000000e+00,4.280000e+02,1.159200e+02,1.000000e+00,5.000000e+03,2.500000e+00,1.750000e+00
std,4.325902e-01,NaN,NaN,8.502817e-01,2.254626e+02,9.823219e+00,6.362391e+01,6.931535e+01,5.808686e-01,1.894955e+01,1.804102e+00,1.177600e-01,3.896551e+00,2.128310e+00,2.183645e-01,2.338558e+01,8.232747e-01,4.876239e-01

In [4]:
df = df[
    [
        "tpep_pickup_datetime",
        "tpep_dropoff_datetime",
        "PULocationID",
        "DOLocationID",
        "passenger_count",
        "trip_distance",
        "fare_amount",
        "total_amount"
    ]
]

In [5]:
df = df.dropna()

df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

df = df[df["trip_distance"] > 0]
df = df[df["passenger_count"] > 0]

In [6]:
df.info()

<class 'pandas.DataFrame'>
Index: 2756234 entries, 0 to 2824461
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[us]
 1   tpep_dropoff_datetime  datetime64[us]
 2   PULocationID           int32
 3   DOLocationID           int32
 4   passenger_count        float64
 5   trip_distance          float64
 6   fare_amount            float64
 7   total_amount           float64
dtypes: datetime64[us](2), float64(4), int32(2)
memory usage: 168.2 MB

In [7]:
# Trip duration in minutes
df["trip_duration_min"] = (
    (df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"])
    .dt.total_seconds() / 60
)

# Speed (km/h)
df["speed_kmh"] = df["trip_distance"] / (df["trip_duration_min"] / 60)

In [8]:
df["trip_id"] = [str(uuid.uuid4()) for _ in range(len(df))]

In [9]:
df = df.rename(columns={
    "tpep_pickup_datetime": "pickup_datetime",
    "tpep_dropoff_datetime": "dropoff_datetime",
    "PULocationID": "pickup_location_id",
    "DOLocationID": "dropoff_location_id"
})

In [10]:
df.head()

,pickup_datetime,dropoff_datetime,pickup_location_id,dropoff_location_id,passenger_count,trip_distance,fare_amount,total_amount,trip_duration_min,speed_kmh,trip_id
0,2024-01-01 00:57:55,2024-01-01 01:17:43,186,79,1.0,1.72,17.7,22.70,19.800000,5.212121,ab40bc78-0d47-4be4-8163-094cc581a9b4
1,2024-01-01 00:03:00,2024-01-01 00:09:36,140,236,1.0,1.80,10.0,18.75,6.600000,16.363636,f9ef9563-871a-4560-8975-24c2dc9f314c
2,2024-01-01 00:17:06,2024-01-01 00:35:01,236,79,1.0,4.70,23.3,31.30,17.916667,15.739535,ac5bef36-2fc3-4613-90eb-888a71fc0864
3,2024-01-01 00:36:38,2024-01-01 00:44:56,79,211,1.0,1.40,10.0,17.00,8.300000,10.120482,a0859505-ae5f-4e32-aeb1-9845c7613e26
4,2024-01-01 00:46:51,2024-01-01 00:52:57,211,148,1.0,0.80,7.9,16.10,6.100000,7.868852,ce80e9ab-703a-48ff-8a15-212d328ef53c

In [11]:
zone_df = pd.read_csv("../data/nyc_yellow_taxi_dataset/taxi_zone_lookup.csv")

In [12]:
df = df.merge(
    zone_df.rename(columns={"LocationID": "pickup_location_id", "Borough": "pickup_borough"})[["pickup_location_id","pickup_borough"]],
    on="pickup_location_id",
    how="left"
)

df = df.merge(
    zone_df.rename(columns={"LocationID": "dropoff_location_id", "Borough": "dropoff_borough"})[["dropoff_location_id","dropoff_borough"]],
    on="dropoff_location_id",
    how="left"
)

In [13]:
df["pickup_location"] = df.apply(
    lambda x: {
        "location_id": int(x["pickup_location_id"]),
        "borough": x["pickup_borough"]
    },
    axis=1
)

df["dropoff_location"] = df.apply(
    lambda x: {
        "location_id": int(x["dropoff_location_id"]),
        "borough": x["dropoff_borough"]
    },
    axis=1
)

In [14]:
final_cols = [
    "trip_id",
    "pickup_datetime",
    "dropoff_datetime",
    "pickup_location",
    "dropoff_location",
    "passenger_count",
    "trip_distance",
    "fare_amount",
    "total_amount",
    "trip_duration_min",
    "speed_kmh"
]

df_final = df[final_cols]

In [15]:
df_final.to_json("../data/cleaned_data/taxi_events.jsonl", orient="records", lines=True, date_format="iso")

print("✅ Data cleaned and exported to JSONL")
df_final.head()

✅ Data cleaned and exported to JSONL

,trip_id,pickup_datetime,dropoff_datetime,pickup_location,dropoff_location,passenger_count,trip_distance,fare_amount,total_amount,trip_duration_min,speed_kmh
0,ab40bc78-0d47-4be4-8163-094cc581a9b4,2024-01-01 00:57:55,2024-01-01 01:17:43,"{'location_id': 186, 'borough': 'Manhattan'}","{'location_id': 79, 'borough': 'Manhattan'}",1.0,1.72,17.7,22.70,19.800000,5.212121
1,f9ef9563-871a-4560-8975-24c2dc9f314c,2024-01-01 00:03:00,2024-01-01 00:09:36,"{'location_id': 140, 'borough': 'Manhattan'}","{'location_id': 236, 'borough': 'Manhattan'}",1.0,1.80,10.0,18.75,6.600000,16.363636
2,ac5bef36-2fc3-4613-90eb-888a71fc0864,2024-01-01 00:17:06,2024-01-01 00:35:01,"{'location_id': 236, 'borough': 'Manhattan'}","{'location_id': 79, 'borough': 'Manhattan'}",1.0,4.70,23.3,31.30,17.916667,15.739535
3,a0859505-ae5f-4e32-aeb1-9845c7613e26,2024-01-01 00:36:38,2024-01-01 00:44:56,"{'location_id': 79, 'borough': 'Manhattan'}","{'location_id': 211, 'borough': 'Manhattan'}",1.0,1.40,10.0,17.00,8.300000,10.120482
4,ce80e9ab-703a-48ff-8a15-212d328ef53c,2024-01-01 00:46:51,2024-01-01 00:52:57,"{'location_id': 211, 'borough': 'Manhattan'}","{'location_id': 148, 'borough': 'Manhattan'}",1.0,0.80,7.9,16.10,6.100000,7.868852